{% extends "auctions/layout.html" %}

{% block title %} New Listing {% endblock %}

{% block body %}

    <div class="main">
        <section>
            <h1>New Listing</h1>
            <hr>
        </section>

        <section>
            {% if message %}
            <div class="msg-error">{{ message }}</div>
            {% endif %}
            
            {% if success %}
                <div class="msg-success"> Listing created ! </div>
            {% endif %}

            <form action="{% url 'new-listing' %}" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input class="btn btn-primary" type="submit" value="Create listing">
            </form>
        </section>
    </div>

{% endblock %}