# Files/Directories to be ignored:

.DS_Store
.vscode

# Ex
/bin
python/algorithmic-trading-python
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.env
*.db

#Tutos

# CS50/
CS50X_src/
CS50W_src/
jupyter/
excluded/


node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/