* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.list-group-item {
    background-color: transparent;
    padding: .75rem 0rem;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}