{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <hr />
    <table class="table table-striped">
        <thead>
            <td>Symbol</td>
            <td>Name</td>
            <td>Shares</td>
            <td>Price</td>
            <td>Transacted</td>
            <td>Operation</td>
        </thead>
        <tbody>
            {% for row in symbol %}
                <tr>
                    <td>{{ row['symbol'] }}</td>
                    <td>{{ row['name'] }}</td>
                    <td>{{ row['shares'] }}</td>
                    <td>{{ row['price'] }}</td>
                    <td>{{ row['time'] }}</td>
                    <td>{{ row['type'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}