{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <hr />
    <table class="table table-striped">
        <thead>
            <td>Symbol</td>
            <td>Name</td>
            <td>Shares</td>
            <td>Price</td>
            <td>Total</td>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ grand_total }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for row in symbol %}
                <tr>
                    <td>{{ row['symbol'] }}</td>
                    <td>{{ row['name'] }}</td>
                    <td>{{ row['shares'] }}</td>
                    <td>{{ row['price'] }}</td>
                    <td>{{ row['total'] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}