{# comments with twig #}
{% set language = 'PHP' %}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Home |</title>
    </head>
<body>
    <h1>Getting started with {{ language }} Twig</h1>
    <hr>
    <div>
        <!-- <p>Name: {{ user.name }}</p>
        <p>Age: {{ user.age }}</p> -->
        <p>Name: {{ user['name'] | title | striptags }}</p>
        <p>Age: {{ user['age'] }}</p>
        <p>Company: {{ user['company-name'] }}</p>

        <p>
            {% apply upper %}
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt atque ut eveniet consequuntur, corrupti similique debitis cupiditate sed ullam omnis facere numquam officiis obcaecati culpa, libero dolorum ea dolores quasi!
            {% endapply %}
        </p>
        <code>
            {{ user | json_encode()}}
        </code>
    </div>
</body>
</html>