{% extends "layout.html" %}

{% block title %}
    Change your password
{% endblock %}

{% block main %}
    <form action="/update" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" value="{{username}}">
        </div>
        <div class="form-group">
            <input class="form-control" name="password-old" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="password-new" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="password-new-check" placeholder="Verify New Password" type="password">
        </div>
        <div class="form-group">
            <p>Your session will be ended and you'll have to login again.</p>
        </div>
        <button class="btn btn-primary" type="submit">Chage password</button>
    </form>
{% endblock %}
